
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Evolution Fitness</h1>
            <p class="lead fw-normal text-white-50 mb-0">Lo mejor en suplementación deportiva</p>
        </div>
    </div>
</header>
<!-- Section-->
<section>

    <div class="container-fluid px-5 my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class=" card-header bg-dark text-white">
                                Categorías
                            </div>
                            <div class="card-body" id="contenedor_categoria" data-url-listar-categorias="@Url.Action("ListarCategorias", "Tienda")">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class=" card-header bg-dark text-white">
                                Marcas
                            </div>
                            <div class="card-body" id="contenedor_marcas" data-url-listar-marcas="@Url.Action("ListarMarcaPorCategoria", "Tienda")">
                                <!-- Contenido de las marcas -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="d-grid gap-2 mb-3">
                            <button id="btnAplicarFiltro" class="btn btn-outline-dark" type="button">
                                <i class="fas fa-filter"></i>
                                Aplicar filtros
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div id="contenedor_producto" class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">


                </div>
            </div>

        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Nicolás Agustín Ibarra 2023</p></div>
</footer>






@section scripts {
    <script>
        $(document).ready(function () {
            MostrarCategoria();
            MostrarTodosProductos()
        });

        function MostrarCategoria() {
            var url = $("#contenedor_categoria").data("url-listar-categorias");

            $.ajax({
                url: url, // Usar la URL obtenida desde el atributo data
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log("Respuesta del servidor:", response);

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.IdCategoria, "id": "c" + i }),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "c" + i })
                        ).appendTo("#contenedor_categoria");
                    });

                    MostrarMarcas();
                },
                error: function (error) {
                    console.log("Error en la solicitud AJAX:", error);
                },
                beforeSend: function () {
                    // Puedes mostrar un indicador de carga aquí si lo necesitas
                },
            });
        }

        function MostrarMarcas() {
            var url = $("#contenedor_marcas").data("url-listar-marcas");

            // Obtener el valor de la categoría seleccionada
            var _idcategoria = $("input[name=categoria]:checked").val();
            console.log(_idcategoria);

            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_marcas").html("");

                    console.log("Respuesta del servidor:", response);

                    $.each(response.data, function (i, element) {
                        $("<div>").addClass("form-check").append(
                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "marca", "value": element.IdMarca, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "m" + i })
                        ).appendTo("#contenedor_marcas");
                    });
                },
                error: function (error) {
                    console.log("Error en la solicitud AJAX:", error);
                }
            });
        }

        $(document).on("change", "input[name=categoria]:checked", function () {
            MostrarMarcas()

        });

        function MostrarMensaje(mensaje) {
            // Mostrar el mensaje en el área de mensajes en tu página
            $("#mensaje_principal").text(mensaje);
        }

        function MostrarProductos(_idcategoria, _idmarca) {

            // Verificar si no se selecciona una categoría
            if (!_idcategoria) {
                // Mostrar mensaje y salir de la función
                var contenedor = document.querySelector("#contenedor_producto");
                contenedor.innerHTML = '<div id="mensaje_principal" class="alert alert-warning" role="alert"> <i class="fas fa-warning"></i> Lo sentimos, debes seleccionar una categoría para filtrar.</div>';
                return;
            }

            // Verificar si no se selecciona una marca
            if (!_idmarca) {
                // Mostrar mensaje y salir de la función
                var contenedor = document.querySelector("#contenedor_producto");
                contenedor.innerHTML = '<div id="mensaje_principal" class="alert alert-warning" role="alert"><i class="fas fa-warning"></i> Lo sentimos, debes seleccionar una marca para filtrar.</div>';
                return;
            }

            $.ajax({
                url: "@Url.Action("ListarProducto", "Tienda")",
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria, idmarca: _idmarca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedor_producto").html("");

                    console.log("Respuesta del servidor:", response);

                    $.each(response.data, function (i, element) {
                        var producto = $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Nombre),
                                        $("<span>").text("$ " + element.Precio)
                                    ),
                                  $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                    $("<div>").addClass("d-grid gap-2").append(
                                        @if(Session["Cliente"] != null)
                                        {
                                            @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idproducto", element.IdProducto).text("Agregar al carrito"),
                                        }
                                        $("<a>").addClass("btn btn-dark mt-auto").attr("href", "@Url.Action("DetalleProducto", "Tienda")/" + element.IdProducto).addClass("w-100").text("Ver detalle")
                                    )
                                )

                                )
                            )
                        );

                        $("#contenedor_producto").append(producto);
                    });
                },
                error: function (error) {
                    console.log("Error en la solicitud AJAX:", error);
                }
            });
        }

        function MostrarTodosProductos() {

             $.ajax({
                 url: "@Url.Action("ListarTodosProducto", "Tienda")",
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (response) {
                     $("#contenedor_producto").html("");

                     console.log("Respuesta del servidor:", response);

                     $.each(response.data, function (i, element) {
                        var producto = $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Nombre),
                                        $("<span>").text("$ " + element.Precio)
                                    )


                                ),
                                $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(
                                  $("<div>").addClass("d-grid gap-2").append(
                                      @if(Session["Cliente"] != null)
                                      {
                                          @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idproducto", element.IdProducto).text("Agregar al carrito"),
                                      }
                                  $("<a>").addClass("btn btn-dark mt-auto").attr("href", "@Url.Action("DetalleProducto", "Tienda")/" + element.IdProducto).addClass("w-100").text("Ver detalle")
                                 )
                                 )

                            )
                        );

                         $("#contenedor_producto").append(producto);
                     });
                 },
                 error: function (error) {
                     console.log("Error en la solicitud AJAX:", error);
                 }
             });
         }


        $("#btnAplicarFiltro").click(function () {
            // Primero, obtén los valores de las categorías y marcas
            var _idcategoria = $("input[name=categoria]:checked").val();
            var _idmarca = $("input[name=marca]:checked").val();
            console.log(_idcategoria, _idmarca);
            // Luego, llama a la función MostrarProductos con esos valores
            MostrarProductos(_idcategoria, _idmarca);
        });

        $(document).on("click", "button.agregarcarrito", function () {

            console.log($(this).data("idproducto"))

            $.ajax({
                url:'@Url.Action("AgregarCarrito","Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: $(this).data("idproducto") }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {

                        MostrarCantidadCarrito()

                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true



                        }, function () {

                            window.location.href = '@Url.Action("Carrito","Tienda")' 


                        })

                    } else {
                        swal("", data.mensaje, "warning");
                    }


                }


            })

        })

    </script>
}



















